.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: -20px;
}

.steps {
    text-align: center;
    margin-left: 100px;
    margin-top: 20px;
}

.step {
    text-align: left;
    margin-bottom: 10px;
}

.exchange-rate {
    text-align: center;
}

.containerr {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}